
# HTID:12536137: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12536137:
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f [NC,OR]

RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule .* - [L]

RewriteRule ^(.*)$ ?path=$1 [QSA,L]